@import 'variables.css';
@import 'elenemt.scss';

#app {
  height: 100vh;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin: 0;
}

* {
  font-family: Inter, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \5fae\8f6f\96c5\9ed1, Arial, sans-serif;;;
  font-size: 14px;
}
