:root {
    --primary-color: var(--blue);
    --secondary-color: var(--white);

    --background-color: var(--white);
    --background-secondary: var(--gray);

    --text-color: var(--el-text-color);
    --text-color-alpha: var(--dark-grayish-blue-a50);
    --text-secondary-color: var(--white);
    --border-color: var(--el-border-color);

    --white: #fff;
    --blue: #005689;
    --gray: #dfe4f1;
    --gray-light: #dcdfe6;
    --dark-grayish-blue: #606266;
    --dark-grayish-blue-a50: #60626680;

}
